<div class="post bg-white border rounded col-12 col-md-6 mb-4">
    <div class="post-header py-3 px-4 d-flex align-items-center">
        <img class="post-avatar rounded-circle me-3" src="{{ post.author.avatars.url }}" alt="User Avatar">
        <span class="post-username font-weight-bold"><a href="{% url 'accounts:profile' post.author.pk %}">
                        {{ post.author.username }}</a>
                    </span>
    </div>
    <img class="post-image img-fluid" src="{{ post.image.url }}" alt="Post Image">
    <div class="post-actions py-2 px-4">
        {% if request.user.is_authenticated %}
            <button type="button"
                    class="post-like-btn me-2 btn btn-link p-0"
                    data-post-id="{{ post.pk }}"
                    data-liked="{% if request.user in post.like_users.all %}true{% else %}false{% endif %}">
                <i class="bi {% if request.user in post.like_users.all %}bi-heart-fill{% else %}bi-heart{% endif %}"></i>
            </button>
        {% else %}
            <a class="post-like-btn me-2 btn btn-link p-0" href="{% url 'accounts:login' %}?next={{ request.path }}">
                <i class="bi bi-heart"></i>
            </a>
        {% endif %}
        <span class="post-likes font-weight-bold" data-post-id="{{ post.pk }}">{{ post.like_users.count }}</span>

    </div>
    <div class="post-description px-4 py-3">
        <p>{{ post.content }}</p>
    </div>
    <div class="post-timestamp px-4 py-2 text-muted">{{ post.created_at }}</div>

</div>